@charset "UTF-8";

.t-small{
    display: flex;
    font-size: 11px;
}

.t-small > P{
    padding-right: 5px;
}

.call-bg{

    border-radius: 6px;
    width: 170px;
    height: 40px;
    background-color: #4b0872;
}